<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" /> -->
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
    <nav class="nav">
      <div class="nav-brand">
        <a class="btn-link" href="/">ExpenShare</a>
      </div>

      <div class="nav-menu">
        <!-- Menu -->
        <% if(user) { %>
        <form action="/logout" method="post">
            <button class="btn-logout" type="submit">Log Out</button>
        </form>
        <% } else { %>
        <a class="mr-10 btn" href="/login">Login</a>
        <a class="btn" href="/register">Register</a>
        <% } %>
      </div>
    </nav>