<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon_io/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon_io/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon_io/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon_io/site.webmanifest" />

    <!-- To run web application in full-screen -->
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- Status Bar Style (see Supported Meta Tags below for available values) -->
    <!-- Has no effect unless you have the previous meta tag -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- Microsoft Tiles -->
    <meta name="msapplication-config" content="browserconfig.xml" />

    <!-- Helps prevent duplicate content issues -->
    <link rel="canonical" href="https://expenshare.onrender.com/" />

    <!-- Facebook open graph -->
    <meta property="og:url" content="https://expenshare.onrender.com/" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="ExpensShare-Share expenses with friends"
    />
    <meta
      property="og:description"
      content="Expenshare- all in one place to share expenses among friends. Save all your expenses in our app and we will remember it for you."
    />
    <meta property="og:image" content="/images/brand-image-og.gif" />

    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" /> -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/styles.css" />
    <meta
      name="description"
      content="Expenshare- all in one place to share expenses among friends. Save all your expenses in our app and we will remember it for you."
    />
    <title>ExpensShare-Share expenses with friends</title>
  </head>
  <body class="bg-light">
    <div class="container">
      <nav class="nav">
        <div class="nav-brand">
          <a class="btn-link" href="/">ExpenShare</a>
        </div>

        <div class="nav-menu d-flex justify-content-between align-items-center">
          <!-- Menu -->
          <% if(user) { %>
            <form class="mr-5" action="/logout" method="post">
              <button class="btn btn-outline-primary" type="submit">
                Log Out
              </button>
            </form>
            <a class="text-md ml-10 middle" href="/faq">FAQ</a>
          <% } else { %>
            <a class="btn btn-primary mr-5" href="/login">Login</a>
            <a class="btn btn-secondary" href="/register">Register</a>
            <a id="faq" class="text-md ml-10 middle link-primary" href="/faq">FAQ</a>
          <!-- <a class="mr-10 btn" href="/login">Login</a> -->
          <!-- <a class="btn" href="/register">Register</a> -->
          <% } %>
        </div>
      </nav>
    </div>
  </body>
</html>
