<%- include('partials/head') %>

<div class="container">
  <h1 class="mb-4 text-md">Frequently Asked Questions(FAQ)</h1>

  <ul class="no-list">
    <li>
      <details>
        <summary>What is ExpenShare?</summary>
        <p>
          ExpenShare is a platform where you and your friends can record and
          share daily and monthly expenses.
        </p>
      </details>
    </li>

    <li>
      <details>
        <summary>What are the features?</summary>
        <ul>
          <li>You can login and logout.</li>
          <li>
            Save all your expenses in our database, and can see your data
            anywhere.
          </li>
          <li>Create many groups.</li>
          <li>Add and delete member from your group.</li>
          <li>
            Request and be a moderator of any group, if admin accepts your
            request.
          </li>
          <li>Change Admin.</li>
          <li>Edit your data anytime, anywhere.</li>
          <li>Delete group.</li>
        </ul>
      </details>
    </li>

    <li>
      <details>
        <summary>Do I need to login to see group expenses?</summary>
        <p>No, you don't need to login to see expenses of your group.</p>
      </details>
    </li>

    <li>
      <details>
        <summary>How can I save my expenses data on ExpenShare?</summary>
        <p>To save your expenses in ExpenShare:-</p>
        <ol>
          <li>First, register and login</li>
          <li>After that, <a href="/">Go to ExpenShare homepage. </a></li>
          <li>
            Choose and click on the button named
            <strong>"Go to Dashboard"</strong>.
          </li>
          <li>
            In the new page, choose and click.
            <strong>"Create New Group"</strong> button.
          </li>
          <li>Fill up the form and submit.</li>
          <li>Congratulations, your group is now ready.</li>
        </ol>
      </details>
    </li>

    <li>
      <details>
        <summary>Who are moderators?</summary>
        <p>
          Moderators are peoples who can be chosen to be the next admin of the
          group.
        </p>
      </details>
    </li>

    <li>
      <details>
        <summary>How to change Admin?</summary>
        <p>
          <strong>Note:-</strong> To change admin a group should have at least
          one moderator. Follow these steps:-
        </p>
        <ol>
          <li>Login with your account.</li>
          <li>Then, <a href="/">go to ExpenShare Homepage</a>.</li>
          <li>
            Choose and click on the button named
            <strong>"Go to Dashboard"</strong>.
          </li>
          <li>
            In your dashboard, click the button named
            <strong>"Change Admin"</strong>.
          </li>
          <li>
            After that, among the moderators in the list(i.e:- if you have one),
            click on the button named <strong>"Make Admin"</strong>.
          </li>
        </ol>
        <p>
          After all these steps, the admin will change and you will be no longer
          the admin of the group.
        </p>
      </details>
    </li>

    <li>
      <details>
        <summary>How can I be a moderator?</summary>
        <p>Follow these steps:-</p>
        <ol>
          <li>Login with your username</li>
          <li>Click on the button named <strong>"See all groups"</strong></li>
          <li>Choose a group and click on it.</li>
          <li>
            If you are not already a moderator of this group, there will be a
            button called <strong>"Request to be a moderator"</strong>, click on
            it.
          </li>
          <li>
            After clicking on the button, a form will pop out. Fill in the
            secret key(i.e:- any combination of text), this will be shown to
            admin, so that he will recognize you, & after click on
            <strong>"Submit"</strong>.
          </li>
        </ol>
        <p>
          Your request to be a moderator will be send to admin. And he will
          accept or reject it.
        </p>
      </details>
    </li>
  </ul>
</div>

<%- include('partials/foot') %>
