<%- include('partials/head') %>

<p class="intro">ExpenShare to add and share your cost with friends.</p>
<h2 class="heading-text">Feautures:-</h2>
<ul class="features-ul mb-50">
  <li>Record monthly transaction.</li>
  <li>Add friends and share cost.</li>
  <li>See your daily and monthly cost anytime you want.</li>
</ul>

<div class="flex-container">
  <a class="btn" href="/groups">See all groups</a>
  <% if(user) { %>
  <a class="btn" href="/admin/<%= user._id %>">Go to Dashboard</a>
  <% } %>
</div>

<%- include('partials/foot') %>
