<%- include('partials/head') %> 

<section class="container">
  <% if(Object.keys(message).length > 0 && message.success) { %>
    <div class="alert-success">
      <p><%= message.success[0] %></p>
      <p>
        <svg
          class="close-icon"
          fill="white"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24px"
          height="24px"
        >
          <path
            d="M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z"
          />
        </svg>
      </p>
    </div>
<% } %>


  <p class="intro">ExpenShare to add and share your cost with friends.</p>
  <h2 class="heading-text">Feautures:-</h2>
  <ul class="features-ul mb-50">
    <li>Record monthly transaction.</li>
    <li>Add friends and share cost.</li>
    <li>See your daily and monthly cost anytime you want.</li>
  </ul>

  <div class="flex-container">
    <a class="btn btn-dark btn-lg me-4" href="/groups">See all groups</a>
    <!-- <a class="btn" href="/groups">See all groups</a> -->
    <% if(user) { %>
    <a class="btn btn-dark btn-lg" href="/admin/<%= user._id %>">Go to Dashboard</a>
    <% } %>
  </div>
</div>
</section>



<script>
  // let closeIcon = document.querySelector(".close-icon");
  // let alertBox = document.querySelector(".alert");
  // closeIcon.addEventListener("click", () => {
  //   alertBox.classList.add("hide");
  // });
</script>
