<%- include('partials/head') %>
<p class="intro">ExpenseShare to add and share your cost with friends.</p>

<div class="link-action">
  <a class="btn-link" href="/groups">See all groups</a>
</div>

<%- include('partials/foot') %>
