<%- include('partials/head') %>

<% if(Object.keys(message).length > 0) { %>
  <div class="alert-error">
    <p><%= message.error[0] %></p>
  </div>
<% } %>


<form class="form" action="/register" method="post">
  <label for="username">Username</label>
  <input type="text" id="username" placeholder="username" name="username" />

  <div class="flex-container">
    <label for="password">Password</label>
    <span
      class="tooltip"
      data-tooltip="Password (UpperCase, LowerCase, Number/SpecialChar and min 8 Chars)"
      >?</span
    >
  </div>
  <input
    class="mt-20"
    pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
    type="password"
    id="password"
    placeholder="password"
    name="password"
  />

  <button class="md-btn">Register</button>
</form>



<%- include('partials/foot') %>
