<%- include('../partials/head') %>
    <ul>
      <% for(let i = 0; i < groups.length; i++) { %>
      <li><a href="/groups/<%= groups[i]._id %>"><%= groups[i].groupName %></a></li>
      <% } %>
    </ul>
  </body>
</html>



<%- include('../partials/foot') %>