<%- include('../partials/head') %>

<form class="form" action="/groups" method="post">
  <label for="group_name">Group Name</label>
  <input
    id="group_name"
    type="text"
    placeholder="Group name"
    name="group_name"
  />
  <div>
    <div class="d-grid gap-2">
      <button class="add_member btn btn-secondary" type="button">
        Add member
      </button>
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </div>
</form>

<script>
  const addMemberBtn = document.querySelector(".add_member");
  let count = 1;
  addMemberBtn.addEventListener("click", () => {
    let parent = addMemberBtn.parentNode;
    let input = document.createElement("input");
    let label = document.createElement("label");
    input.type = "text";
    input.name = `member${count}`;
    input.id = `member${count}`;
    input.placeholder = "Member name";

    label.htmlFor = `member${count}`;
    label.textContent = `Member ${count}`;

    parent.insertBefore(input, addMemberBtn);
    parent.insertBefore(label, input);
    count += 1;
  });
</script>

<%- include('../partials/foot') %>
